html {
  scroll-behavior: smooth;
}

.body {
  background-color: #fcf8f2;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.titleContainer {
  text-align: center;
}

.title {
  color: #0739cc;
  display: inline-block;
  font-family: 'Oswald', sans-serif;  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 70px 0 0;
}

.lead {  
  color: #0739cc;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0 0;
}

:hover {
  transition: all .2s;
  -webkit-transition: all .2s;
}

input, button, a {
  outline: none;
}

.-github:hover {
  color: #55c500;
}

.-twitter {
  font-weight: bold;
}

.-twitter:hover {
  color: #00acee;
}

.-note {
  transform: scale(-1, 1);
}

.-note:hover {
  color: #2db393;
}

.pc__only {
  display: block;
}

.sp_only {
  display: none;
}

/*アニメーション要素のスタイル*/
/* 下からバージョン */
.animation-bottom {
	opacity : 0;
	visibility: hidden;
	transition: 1.5s;
	transform: translateY(30px);
}

.active-bottom {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* 上からバージョン */
/* header nav */
.animation-top {
	opacity : 0;
	visibility: hidden;
	transition: 1.5s;
  transform: translateY(-30px);
  transition-delay: 0.7s;
}

.active-top {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* 左から */
.animation-left {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
	transform: translateX(-100px);
}

.active-left {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* 右から */
.animation-right {
  opacity: 0;
  visibility: hidden;
	transition: 0.3s;
	transform: translateX(100px);
}

.active-right {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}


/* header */
.header {
  background-color: #f7f0de;
}

.header__wrapper {
  color: #0739cc;
  font-family: 'Oswald', sans-serif; 
  padding: 30px 0 50px;
  text-align: center;
}

.header__items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 420px;
  padding: 8px 20px 0;
  text-align: center;
  width: 100%;
}

.header__item a {
  font-weight: bold; 
  letter-spacing: 1px;
}

.header__item a span {
  display: block;
  font-size: 8px;
  padding: 5px 0 0;
}

.header__item a:hover {
  color: #ff6630;
}


/* mv */
.mv {
  background-color: #f7f0de;
}

.mv__wrapper {
  margin: 0 auto;
  padding: 0 70px;
}

.mv__container {
  margin: 0 auto 20px;
  padding: 0 40px 70px;
  position: relative;
}

.mv__cardWrapper {
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 400px;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;  
  position: relative;
  width: 100%;
  z-index: 4;
}

.mv__cardWrapper::before {
  background-color: #ff6630;
  content: "";
  height: 400px;
  max-width: 600px;
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100%;
  z-index: 1;
}

.mv__cardWrapper::after {
  background-image: url(../img/Humaaans\ -\ Standing.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 50px;
  right: -135px;
  height: 350px;
  transform: scale(-1,1);
  width: 270px;
  z-index: 2;
}

.mv__card {
  border: 2px solid black;
  position: relative;
  z-index: 2;
}

.mv__card__head {
  background-color: white;
  border-bottom: 2px solid #000;
  padding: 10px;
  text-align: right;
  position: relative;
  z-index: 2;
}

.mv__head i {
  display: block;
  background-color: white;
  padding: 20px 20px;
}

.mv__card img {
  height: calc(100% - 39px);
  position: relative;
  width: 100%;
  z-index: 2;
}

.mv__textWrapper {
  margin: 80px 0 0 80px;
  position: relative;
  z-index: 3;
}

.mv__card::before {
  content: "Welcome to";
  color: #216045;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  line-height: 1.3;
  position: absolute;
  top: 30%;
  left: -100px;
  text-align: left;
  width: 400px;
  z-index: 5;
}

.mv__card::after {
  content: "my portfolio";
  color: #216045;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  line-height: 1.3;
  position: absolute;
  top: 50%;
  left: -100px;
  text-align: left;
  width: 400px;
  z-index: 5;
}


/* about */
.about__container {
  margin: 0 auto 40px;    
  max-width: 700px;
  padding: 50px 0 0;
  position: relative;
  width: 100%;
}

.about__head {
  display: flex;
  margin: 0 auto;
  max-width: 420px;
  position: relative;
  width: 100%;
}

.about__head::before {
  content: "";
  border-radius: 50%;
  background-color: #ff6630;
  width: 70px;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 70px;
  z-index: 3;
}

.about__head::after {
  content: "";
  border-radius: 50%;
  border: 1px solid #216045;
  width: 70px;
  position: absolute;
  top: -25px;
  left: -25px;
  height: 70px;
  z-index: 4;
}

.about__head__imgWrapper {
  background-color: white;
  box-shadow: 0 0 13px rgb(197, 197, 197);
  display: inline-block;
  padding: 30px 10px 0px 10px;
  position: relative;
  z-index: 2;
}

.about__head__imgWrapper img {
  max-width: 300px;
  transform: scale(-1, 1);
  width: 100%;
}

.about__head__imgWrapper h2 {
  font-family: 'Caveat', cursive;
  font-size: 35px;
  padding: 15px 10px;
  text-align: center;
}

.about__head__textWrapper {
  margin: 150px 0 0 -40px;
}

.about__head__text{
  color: #ff6630;
  font-family: 'Oswald', sans-serif; 
  font-size: 20px;
  line-height: 1.3;
  position: relative;
  z-index: 2;
}

.about__head__snsWrapper {
  content: "";
  position: absolute;
  bottom: 70px;
  right: 15px;

}

.about__head__snsWrapper a {
  color: #ffc730;
  font-size: 30px;
  position: relative;
  z-index: 3;
}

.about__foot__text {
  padding: 50px 0 0;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.about__foot__text p {
  font-size: 18px;
  line-height: 1.8;
  padding: 0 0 30px;
  position: relative;
  text-align: left;
  z-index: 4;
}

.about__foot__text p span {
  font-weight: bold;
}

/* skill */
.skill {
  background-color: #f7f0de;
}

.skill__wrapper {
  padding: 0 40px;
}

.skill__container {
  position: relative;
  width: 100%;
}

.skill__items {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 930px;
  padding: 50px 0 100px;
  width: 100%;
}

.skill__items::after {
  background-color: #ff6630;
  content: "";
  height: 60px;
  margin: 0 auto;
  position: absolute;
  bottom: 90px;
  left: -2.5%;
  width: 105%;
}

.skill__item {
  background-color: white;
  border: 2px solid black;
  max-width: 220px;
  margin: 20px 5px;
  padding: 30px 20px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.skill__item__img img {
  background-color: #216045;
  border-radius: 999px;
  height: auto;
  padding: 10px;
  width: 80px;
}

.skill__item__text h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}

.skill__item__text p {
  line-height: 1.6;
  text-align: left;
}

.skill__item__text p span {
  font-size: 13px;
}

/* portfolio */
.portfolio {
  position: relative;
}

.portfolio__items {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px
}

.portfolio__items::after {
  background-color: rgb(219, 218, 218);
  content: "";
  height: 1900px;
  position: absolute;
  top: 250px;
  left: 50%;
  width: 1px;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 160px; 
  max-width: 800px;
  position: relative;
  width: 100%;
}

.portfolio__item:nth-child(even) {
  flex-direction: row-reverse;
  margin: 40px 160px 40px 0; 
}

.portfolio__imgWrapper {
  height: 100%;
  margin: 0 30px 0 0;
  max-height: 430px;
  max-width: 370px;
  position: relative;
  width: 100%;
}

.portfolio__item:nth-child(even) .portfolio__imgWrapper {
  height: 100%;
  margin: 0 0 0 30px;
  max-height: 430px;
  max-width: 370px;
  position: relative;
  width: 100%;
}

.portfolio__imgWrapper::after {
  background-color:  #ff6630;
  content: "";
  height: 100%;
  max-height: 430px;
  max-width: 370px;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  z-index: 1;
}

.portfolio__item:nth-child(even) .portfolio__imgWrapper::after {
  background-color:  #ff6630;
  content: "";
  height: 100%;
  max-height: 430px;
  max-width: 370px;
  position: absolute;
  top: -20px;
  left: 20px;
  width: 100%;
  z-index: 1;
}

.portfolio__img {
  background-color: white;
  border: 2px solid black;
  padding: 20px 10px 0;
  position: relative;
  z-index: 3;
}

.portfolio__img img {
  width: 100%;
}

.portfolio__img a {
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 35px;
  padding: 15px 10px;
  text-align: center;
}

.portfolio__img a::after {
  content: "\f054";
  font-family: "fontAwesome";
  font-size: 12px;
}

.portfolio__img a:hover {
  color: #ff6630;
}

.portfolio__textWrapper {
  margin: 0;
  max-width: 400px;
  position: relative;
  text-align: center;
  width: 100%;
}

.portfolio__item:nth-child(even) .portfolio__textWrapper {
  margin: 0; 
  max-width: 400px;
  text-align: center;
  width: 100%;
}

.portfolio__title {
  background:linear-gradient(transparent 60%, #ffc730 60%);
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 30px;
}

.portfolio__text {
  line-height: 1.8;
  padding: 30px 0 0;
}

.portfolio__lastText {
  line-height: 1.4;
  padding: 0 0 100px;
  text-align: center;
}

.portfolio__lastText span {
  font-weight: bold;
}


/* contact */
.contact {
  background-color: #f7f0de;
  padding: 0 0 100px 0;
}

.form {
  margin: 80px auto 0;
  max-width: 785px;
  width: 100%;
}

.form__item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.form__item:last-of-type {
  margin: 0 auto;
}

.form__item label {
  padding: 25px 0 10px;
}

.form__item input,
.form__item textarea {
  background-color: white;
  border: none;
  height: 56px;
  max-width: 600px;
  width: 100%;
}

.form__item textarea {
  height: 156px;
  margin: 0 0 56px 0;
  resize: none;
}

.form__button {
  background-color: #0739cc;
  border: 1px solid #0739cc;
  color: white;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  padding: 18px 60px;
}

.form__button:hover {
  background-color: white;
  border: 1px solid #0739cc;
  color: #0739cc;
  font-weight: bold;
}


/* footer */
footer {
  background-color: #f0ddae;
  padding: 30px 20px 10px 0;
  text-align: right;
}

.footer__text a i {
  color: #216045;
  font-size: 40px;
}


@media screen and (max-width: 1000px) {
  .portfolio__items::after {
    display: none;
  }
  
  .portfolio__item {
    display: flex;
    justify-content: space-between;
    margin: 40px auto; 
    max-width: 800px;
    position: relative;
    width: 100%;
  }
  
  .portfolio__item:nth-child(even) {
    flex-direction: row-reverse;
    margin: 40px auto; 
  }  
}

@media screen and (max-width: 800px) {  
  .skill__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 930px;
    padding: 50px 0 100px;
    width: 100%;
  }

  .skill__items::before {
    background-color: #ff6630;
    content: "";
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }  

  .skill__item {
    background-color: white;
    border: 2px solid black;
    max-width: 40%;
    margin: 20px 5px;
    padding: 30px 20px;
    position: relative;
    text-align: center;
    z-index: 2;
  }
  
  .form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 20px;
  }

  .form__item label {
    padding: 0px 0 10px;
  }  

  .form__item input,
  .form__item textarea {
    background-color: white;
    border: none;
    height: 56px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  .form__item textarea {
    height: 156px;
    margin: 0 auto 56px auto;
    resize: none;
  } 
}

@media screen and (max-width: 590px) {
  .mv__wrapper {
    padding: 0 0 0 20px;
  }

  .mv__cardWrapper::before {
    background-color: #ff6630;
    content: "";
    height: 400px;
    max-width: 600px;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    z-index: 1;
  }
    
  .mv__cardWrapper::after {
    background-image: url(../img/Humaaans\ -\ Standing.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 170px;
    position: absolute;
    top: 290px;
    right: 0;
    transform: scale(-1,1);
    width: 90px;
    z-index: 2;
  }  

  .mv__card::before {
    content: "Welcome to";
    color: #216045;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    line-height: 1.3;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    z-index: 5;
  }
  
  .mv__card::after {
    content: "my portfolio";
    color: #216045;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    line-height: 1.3;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    z-index: 5;
  }

  .portfolio__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto; 
    max-width: 800px;
    position: relative;
    width: 100%;
  }
  
  .portfolio__item:nth-child(even) {
    flex-direction: column;
    margin: 40px auto; 
  }

  .portfolio__imgWrapper {
    height: 100%;
    margin: 0 auto;
    max-height: 430px;
    max-width: 370px;
    position: relative;
    width: 100%;
  }
  
  .portfolio__item:nth-child(even) .portfolio__imgWrapper {
    height: 100%;
    margin: 0 auto;
    max-height: 430px;
    max-width: 370px;
    position: relative;
    width: 100%;
  }

  .portfolio__textWrapper {
    margin: 30px auto 0;
    max-width: 400px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .portfolio__item:nth-child(even) .portfolio__textWrapper {
    margin: 30px auto 0;
    max-width: 400px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .skill__items::before {
    display: none;
  }  

  .skill__items::after {
    background-color: #ff6630;
    content: "";
    height: 1330px;
    margin: 0 auto;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
  }
  

  .skill__item {
    background-color: white;
    border: 2px solid black;
    max-width: 90%;
    margin: 20px 5px;
    padding: 30px 20px;
    position: relative;
    text-align: center;
    z-index: 2;
  }
}

@media screen and (max-width: 500px) {
  .pc__only {
    display: none;
  }

  .about__head {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 320px;
    position: relative;
    width: 100%;
  }  

  .about__head__textWrapper {
    margin: 30px auto 0;
  }

  .about__head__text{
    color: #ff6630;
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    text-align: center;
    z-index: 2;
  } 
}

@media screen and (max-width: 420px) {
  .mv__card::before {
    content: "Welcome to";
    color: #216045;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: 1.3;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    z-index: 5;
  }
  
  .mv__card::after {
    content: "my portfolio";
    color: #216045;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: 1.3;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    z-index: 5;
  }
}

@media screen and (max-width: 390px) {
  .about__head__imgWrapper h2 {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    padding: 15px 10px;
    text-align: center;
  }  
}