html {
  scroll-behavior: smooth;
}

.body {
  font-family: 'Yusei Magic', sans-serif;  justify-content: space-between;
  overflow-x: hidden;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

:hover {
  transition: .2s;
  -webkit-transition: .2s;
}

input, button, a {
  outline: none;
}

.pc__only {
  display: block;
}

.sp_only {
  display: none;
}

/* headerBar */
.headBar {
  background-color: #994e37;
  height: 10px;
}

/* header */
.header {
  background-color: #99db7d;
  display: flex;
  font-family: 'Yusei Magic', sans-serif;  justify-content: space-between;
  padding: 10px 20px;
}

.header__logoWrapper img {
  max-width: 50px;
}

.nav {
  display: flex;
  line-height: 50px;
}

.nav__items {
  color: white;
  display: flex;
}

.nav__item {
  margin: 0 8px;
}

.nav__sns__items {
  display: flex;
}

.nav__sns__item {
  margin: 0 2px;
}

.nav__sns__item a i {
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
  color: #99db7d;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.-note {
  margin: 0 4px 0 0;
  max-width: 16px;
  transform: scale(-1, 1);
  width: 100%;
}

.nav__sns__item a i:hover {
  border: 3px solid white;
  background-color: #99db7d;
  color: white;
}


/* mv */
.mv {
  background-color: #99db7d;
  padding: 30px 0 50px;
}

.mv__wrapper {
  display: flex;
  justify-content: center;
}

.mv__imgWrapper img {
  max-width: 300px;
  width: 100%;
}

.mv__speechBubble__container {
  max-width: 250px;
  margin: 50px 0 0;
  position: relative;

  width: 100%;
}

.-first::after {
  content: "";
  background-image: url(../img/speechBubble.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  position: absolute;
  top: 0;
  left: 10px;
  width: 250px;
  z-index: 1;
}

.-firstText {
  font-size: 25px;
  margin: 50px 0 0 43px;
  position: relative;
  z-index: 2;
}

.-sec::after {
  content: "";
  background-image: url(../img/speechBubble.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  position: absolute;
  top: -50px;
  left: 0;
  transform: scale(-1, 1);
  width: 200px;
  z-index: 1;
}

.-secText {
  font-size: 22px;
  margin: -10px 0 0 80px;
  position: relative;
  z-index: 2;
}

.-third::after {
  content: "";
  background-image: url(../img/speechBubble.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  position: absolute;
  top: 80px;
  left: 0;
  transform: scale(-1, 1);
  width: 250px;
  z-index: 1;
}

.-thirdText {
  font-size: 20px;
  margin: 100px 0 0 75px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 870px) {
}


/* about */
.about {
  background-color: #feeda2;
  padding: 50px 0 150px;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__head__imgWrapper {
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  box-shadow: 6px 6px rgb(59, 59, 59, 0.7);
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 30px 10px 0px 10px;
  position: relative;
  z-index: 2;
}

.about__head__imgWrapper img {
  max-width: 300px;
  transform: scale(-1, 1);
  width: 100%;
}

.about__head__imgWrapper h2 {
  font-family: 'Caveat', cursive;
  font-size: 35px;
  padding: 15px 10px;
  text-align: center;
}

.about__foot__text {
  font-family: 'Yusei Magic', sans-serif;  justify-content: space-between;
  line-height: 1.3;
  margin: 50px 0 0;
  max-width: 400px;
  width: 100%;
}

.about__foot__text p {
  padding: 10px 0;
  line-height: 1.4;
}

.about-nice {
  font-size: 22px;
  font-weight: bold;
}

.about-strong {
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
  }

  .about__head {
    margin: 0 auto;
  }

  .about__head__imgWrapper {
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px rgb(59, 59, 59, 0.7);
    display: inline-block;
    margin: 0 auto;
    padding: 30px 10px 0px 10px;
    position: relative;
    z-index: 2;
  }  

  .about__foot {
    margin: 0 auto; 
  }

  .about__foot__text {
    font-family: 'Yusei Magic', sans-serif;  justify-content: space-between;
    line-height: 1.3;
    margin: 50px 0 0;
    max-width: 1000px;
    text-align: center;
    width: 100%;
  }  
}


/* skill */
.skill {
  background-color: #99db7d;
  padding: 50px 0 150px;
}

.skill__title__container {
  margin: -110px 0 0;
  text-align: center;
}

.skill__titleWrapper {
  color: black;
  border: 3px solid black;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 40px 40px 20px;
  position: relative;
  text-align: center;
}

.skill__titleWrapper::before {
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  content: '';
  height: 0;
  position: absolute;
  bottom: -20px;
  left: 41%;
  width: 0;
}

.skill__titleWrapper::after {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  content: '';
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 41%;
  width: 0;
}

.skill__title {
  font-family: 'Bungee Shade', cursive;  font-weight: bold;
  font-size: 33px;
  position: relative;
  z-index: 2;
}

.skill__title::after {
  background-image: url(../img/icon__avocado.png);
  background-size: contain;
  content: "";
  display: inline-block;
  position: absolute;
  top: -35px;
  left: 41%;
  height: 30px;
  width: 30px;
}

.lead {
  padding: 10px 0 0 0;
  font-size: 14px;
}

.skill__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto 0;
  width: 100%;
}

.skill__item {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px rgb(59, 59, 59, 0.7);
  display: flex;
  margin: 10px auto;
  padding: 30px 20px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}


.skill__item__img {
  margin: 0 20px 0 10px;
}

.skill__item__img img {
  background-color: #31811b;
  border-radius: 50%;
  color: white;
  padding: 10px;
  width: 60px;
}

.skill__item__text h3 {
  color: #173d0c;
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 10px;
  text-align: left;
}

.skill__item__text p {
  line-height: 1.6;
  text-align: left;
}

.skill__item__text p span {
  font-size: 13px;
}


/* portfolio */
.portfolio {
  background-color: #feeda2;
  position: relative;
  padding: 50px 0 150px;
}

.portfolio__title__container {
  margin: -110px 0 0;
  text-align: center;
}

.portfolio__titleWrapper {
  color: black;
  border: 3px solid black;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 40px 40px 20px;
  position: relative;
  text-align: center;
}

.portfolio__titleWrapper::before {
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  content: '';
  height: 0;
  position: absolute;
  bottom: -20px;
  left: 44%;
  width: 0;
}

.portfolio__titleWrapper::after {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  content: '';
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 44%;
  width: 0;
}

.portfolio__title {
  font-family: 'Bungee Shade', cursive;  font-weight: bold;
  font-size: 33px;
  position: relative;
  z-index: 2;
}

.portfolio__title::after {
  background-image: url(../img/icon__avocado.png);
  background-size: contain;
  content: "";
  display: inline-block;
  position: absolute;
  top: -35px;
  left: 44%;
  height: 30px;
  width: 30px;
}

.portfolio__items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 160px; 
  max-width: 800px;
  position: relative;
  width: 100%;
}

.portfolio__item:nth-child(even) {
  flex-direction: row-reverse;
  margin: 40px 160px 40px 0; 
}

.portfolio__imgWrapper {
  height: 100%;
  margin: 0 30px 0 0;
  max-height: 430px;
  max-width: 370px;
  position: relative;
  width: 100%;
}

.portfolio__item:nth-child(even) .portfolio__imgWrapper {
  height: 100%;
  margin: 0 0 0 30px;
  max-height: 430px;
  max-width: 370px;
  position: relative;
  width: 100%;
}

.portfolio__imgWrapper::after {
  background-color: rgb(59, 59, 59, 0.7);
  border-radius: 20px;
  content: "";
  height: 100%;
  max-height: 430px;
  max-width: 370px;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  z-index: 1;
}

.portfolio__item:nth-child(even) .portfolio__imgWrapper::after {
  background-color: rgb(59, 59, 59, 0.7);
  border-radius: 20px;
  content: "";
  height: 100%;
  max-height: 430px;
  max-width: 370px;
  position: absolute;
  top: -10px;
  left: 10px;
  width: 100%;
  z-index: 1;
}

.portfolio__img {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px 10px 0;
  position: relative;
  z-index: 3;
}

.portfolio__img img {
  width: 100%;
}

.portfolio__img a {
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 35px;
  padding: 15px 10px;
  text-align: center;
}

.portfolio__img a::after {
  content: "\f054";
  font-family: "fontAwesome";
  font-size: 12px;
}

.portfolio__img a:hover {
  color: #31811b;
}

.portfolio__textWrapper {
  margin: 0;
  max-width: 400px;
  position: relative;
  text-align: center;
  width: 100%;
}

.portfolio__item:nth-child(even) .portfolio__textWrapper {
  margin: 0; 
  max-width: 400px;
  text-align: center;
  width: 100%;
}

.portfolio__subtitle {
  background:linear-gradient(transparent 60%, #99db7d 60%);
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 30px;
}

.portfolio__text {
  line-height: 1.8;
  padding: 30px 0 0;
}

.portfolio__lastText {
  line-height: 1.4;
  text-align: center;
}

.portfolio__lastText span {
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .portfolio__item {
    display: flex;
    justify-content: space-between;
    margin: 40px auto; 
    max-width: 800px;
    position: relative;
    width: 100%;
  }

  .portfolio__item:nth-child(even) {
    flex-direction: row-reverse;
    margin: 40px auto; 
  }  
}

@media screen and (max-width: 605px) {
  .portfolio__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
    max-width: 800px;
    position: relative;
    width: 100%;
  }  

  .portfolio__item:nth-child(even) {
    flex-direction: column;
    margin: 40px auto; 
  }

  .portfolio__imgWrapper {
    height: 100%;
    margin: 0 auto 20px;
    max-height: 430px;
    max-width: 370px;
    position: relative;
    width: 100%;
  }
  
  .portfolio__item:nth-child(even) .portfolio__imgWrapper {
    height: 100%;
    margin: 0 auto 20px;
    max-height: 430px;
    max-width: 370px;
    position: relative;
    width: 100%;
  }

  .portfolio__textWrapper {
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .portfolio__item:nth-child(even) .portfolio__textWrapper {
    margin: 0 auto; 
    max-width: 400px;
    text-align: center;
    width: 100%;
  }  
}


/* contact */
.contact {
  background-color: #99db7d;
  padding: 50px 0 150px;
}

.contact__title__container {
  margin: -110px 0 0;
  text-align: center;
}

.contact__titleWrapper {
  color: black;
  border: 3px solid black;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 40px 40px 20px;
  position: relative;
  text-align: center;
}

.contact__titleWrapper::before {
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  content: '';
  height: 0;
  position: absolute;
  bottom: -20px;
  left: 44%;
  width: 0;
}

.contact__titleWrapper::after {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  content: '';
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 44%;
  width: 0;
}

.contact__title {
  font-family: 'Bungee Shade', cursive;  font-weight: bold;
  font-size: 33px;
  position: relative;
  z-index: 2;
}

.contact__title::after {
  background-image: url(../img/icon__avocado.png);
  background-size: contain;
  content: "";
  display: inline-block;
  position: absolute;
  top: -35px;
  left: 44%;
  height: 30px;
  width: 30px;
}

.contact__container {
  max-width: 600px;
  margin: 50px auto 0;
  width: 100%;
}

.form {
  margin: 0 auto;
  max-width: 785px;
  width: 100%;
}

.form__item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.form__item:last-of-type {
  margin: 0 auto;
}

.form__item label {
  padding: 25px 0 0;
  max-width: 200px;
  width: 100%;
}

.form__item label::after {
  content: "(必須)";
  color: rgb(243, 71, 71);
  font-weight: normal;
  padding: 0 0 0 10px;
}

.form__item input,
.form__item textarea {
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  height: 56px;
  max-width: 600px;
  width: 100%;
}

.form__item textarea {
  height: 156px;
  margin: 0 0 56px 0;
  resize: none;
}

.mw_wp_form #submit-button input {
  background-color: #31811b;
  border: 3px solid #31811b;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px 50px;
  text-align: center;
  transition: .3s;
}

.mw_wp_form #submit-button input:hover {
  background-color: white;
  border: 3px solid #31811b;
  color: #31811b;
}

@media screen and (max-width: 650px) {
  .form__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }  
}

/* footBar */
.footBar {
  background-color: #994e37;
  height: 10px;
}
